body {
  background-color: $background-blue;
  font-family: $font;
}

#flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.text {
  background-color: $facebook-blue;
  text-transform: uppercase;
  color: $white;
  font-size: 2em;
  margin: 1em;
  padding: 0.5em;
  font-weight: 700;
  text-align: center;
}

#login-button {
  cursor: pointer;
  height: 14em;
  width: 14em;
  background-color: $facebook-blue;
  @include box-shadow (10px 10px 0px 0px $yellow);
  border: none;
  img {
    height: 10em;
    width: 10em;
  }
  &:hover {
    background-color: darken($facebook-blue, 10%);
  }
}
