#photo-body {
  background-color: $background-blue;
  width: 100vw;
  height: 500vh;
}

.imageContainer {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
